*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    background: #404040;
}

header{
    width: 600px;
    height: 130px;
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;

}

header h1{
    margin: 0 20px;
    color: #fff;
}

header a {
    text-decoration: none;
}

main{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #404040;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    position: fixed;
    /* min-height: 150px; */
    width: 100vw;
    height: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #252525;
    border-top: 1px solid white;

    color:rgb(151, 151, 151)
}

