*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    flex-wrap: wrap;
    margin: 0;
    background: #404040;
}

header{
    width: 100%;
    height: 130px;
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;

}

header h1{
    margin: 0 20px;
    color: #fff;
}

header a {
    text-decoration: none;
}

main{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #404040;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
}

button {
    margin-right: 1rem;
    width: 80px;
}


footer {
    position: fixed;
    /* min-height: 150px; */
    width: 100vw;
    height: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #252525;
    border-top: 1px solid white;

    color:rgb(151, 151, 151)
}

.glow-on-hover {
    margin-left: 5px;
    width: 150px;
    height: 25px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
